h1 {
    font-size: 4em;
    color: #0056b3;
    text-align: center;
    margin: 20px 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
        color: #d9534f;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        color: #5cb85c;
    }
}