body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f6f6f6;

  cursor: help; 
}

a:hover, button:hover {
  cursor: pointer;
}

.text-container {
  max-height: 200px;
  overflow-y: auto;
  padding: 15px;
  background: #d7e8de;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text-container::-webkit-scrollbar {
  width: 12px;
}

.text-container::-webkit-scrollbar-track {
  background: #e6bdbd;
  border-radius: 6px;
}

.text-container::-webkit-scrollbar-thumb {
  background: #8cbaba;
  border-radius: 6px;
}

button, a {
  font-size: 1em;
  padding: 10px 16px;
  margin: 5px;
  border: none;
  background-color: #8cbaba;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

button:hover, a:hover {
  background-color: #729e9e;
  cursor: pointer;
}
