body {
  margin: 0; 
  /* background: #222; */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 15px;
  flex-wrap: wrap;
  padding: 20px;
}

.gallery a img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery a img:hover {
  transform: scale(1.1);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 0.3s ease; */
}

.lightbox:target {
  display: flex;
}

.lightbox img {
  max-width: 80%;
  max-height: 80vh;
  border-radius: 10px;
}

.lightbox .close {
  position: fixed;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  z-index: 11;
  user-select: none;
}

.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto 40px;
}

.lightbox:target {
  display: flex;
  opacity: 1;
  visibility: visible;
}
